{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested  for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following link and Confirm Registeration:" %}
    {% block reset_link %}
        {{ domain }}{% url 'fosssite:confirm_email' uidb64=uid token=token %}
    {% endblock %}

{% trans "Your username: " %} {{ user.get_username }}

{% trans "Thanks!" %}
{% blocktrans %} {{ site_name }} Team{% endblocktrans %}

{% endautoescape %}
