{% extends 'fosssite/index.html' %}
{%load staticfiles%}

{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">
{% endblock %}   

{% block body %}

<div class = "container">
  <div class="wrapper2">

    <form action="" method="post" name="Login_Form" class="form-signin">   
      {% csrf_token %}    
        <h3 class="form-signin-heading">Reset Password</h3>
        <hr class="colorgraph"><br>
        {%  if error %}
         <p class="text-danger">{{error}}</p>
         {% endif %}
          <label for="user_email">Current Password</label>
          <input type="password" class="form-control" id="user_email" name="current_password" value="" required="true" />
          <br>

          <label for="new_pass">New Password</label>
          <input type="password" class="form-control" id="new_pass" name="password1" size="30" value="" required="true"/>
          <br>

          <label for="conf_pass">Confirm Password</label>
          <input type="password" class="form-control" id="conf_pass" name="password2" value="" required="true"/>
              
        <button class="btn btn-lg btn-primary btn-block"  type="Submit">Update Password</button> <br>   
             
        <a href="{% url 'fosssite:edit_user_profile' name=request.user %}"> <strong style="margin-left: 135px;">Back</strong></a>
    </form> 

  </div>
</div>


{% endblock %}

