{% extends 'fosssite/index.html' %}
{%load staticfiles%}

{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">
{% endblock %}   

{% block body %}

<div class = "container">
  <div class="wrapper2">

    <form action="" method="post" name="Login_Form" class="form-signin">   
      {% csrf_token %}    
        <h3 class="form-signin-heading">Confirm Password</h3>
        <hr class="colorgraph"><br>
        {%  if error %}
         <p class="text-danger">{{error}}</p>
         {% endif %}
         {% if messages %}
             {% for message in messages %}
            <p class="text-success">{{ message }}</p>
             {% endfor %}
           {% endif %}
    

         <label for="user_email">New Password</label>
          <input type="password"  class="form-control" id="user_email" name="password1" size="30 value="" required="true" />
         
          <label for="user_email">Confirm Password</label>
          <input type="password"  class="form-control" id="user_email" name="password2" size="30" value="" required="true"  /> 
         
       
      
        <button class="btn btn-lg btn-primary btn-block"  type="Submit">Change Password</button> <br>   
           
    </form> 

  </div>
</div>


{% endblock %}


