{% extends 'fosssite/home.html' %}
{% load staticfiles %}

{% block profile %}
<li><a href="{% url 'fosssite:profileuser' name=request.user%}"><span class="glyphicon glyphicon-user"></span> Welcome {{ request.user }}</a></li>
<li><a href="{% url 'fosssite:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}

{% block content %}
<div id='main-content' class='container'>
   <div class='row'>
       <div class='col-md-12'>
           <div class='page-header'>
               <h2>Edit User Profile</h2>
           </div>
           <div class='page-body'>
               <form method="post" >
                   {% csrf_token %}
                   {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if error %}<p class="text-danger">{{error}}</p>{% endif %}
                    <br/>
                    <div class='row'>
                      <div class='col-md-6'>
                    {{ speakers_formset.management_form }}
                            {% for speakers_form in speakers_formset %}

                                <div class="link-formset">
                                    <div class="form-group">
                                        <label for="ticket">Event Name</label>
                                        <input  class="form-control" id="ticket" {{ speakers_form.event_name }}
                                    </div>
                                    {% if speakers_form.event_name.errors %}
                                        {% for error in speakers_form.event_name.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                    <br/>
                                    <div class="form-group">
                                        <label for="cont">Event Link</label>
                                        <input class="form-control" id="cont" {{ speakers_form.event_link }}
                                    </div>
                                    {% if speakers_form.event_link.errors %}
                                        {% for error in speakers_form.event_link.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                    <br/>

                                </div>
                                </div>
                                </div>
                            </div>
                                <br/>
                                <br/>
                            {% endfor %}
                            <br/>
                            <br/>
                            <input type="submit" value="Update" class="button"/>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Include formset plugin - including jQuery dependency -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'jquery.formset.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: 'add link',
        deleteText: 'remove'
    });
</script>
{% endblock %}
