{% extends 'fosssite/home.html' %}
{% load staticfiles %}

{% block navbar %}
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">
{% endblock %}   

{% block body %}


<div class='row'>
    <div class="col-md-12">
    <br><br><br><br><br>
    <div  style="margin-left: auto;" >
       <img src="{% static 'assets/images/coming_soon.jpg' %}" class="img-responsive" alt="Responsive image">
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
    <br><br><br><br><br>
  <div style="margin-left: 10px;">
     <p>Please <a href="{% url 'fosssite:login_user' %}">Login</a> for more info !</p>
  </div>
  </div>
</div>


{% endblock %}
