{% extends 'fosssite/home.html' %}
{% load staticfiles %}

{% block acitve1 %}{% endblock %}
{% block acitve2 %}class="active"{% endblock %}
{% block acitve3 %}{% endblock %}
{% block acitve4 %}{% endblock %}

{% block image %}
{% endblock %}

{% block profile %}
<li class="main-nav-link"><a class="nav-link" href="{% url 'fosssite:UserFormView'%}"><span class="glyphicon glyphicon-user"></span>SIGN UP</a></li>
<li class="main-nav-link"><a class="nav-link" href="{% url 'fosssite:login_user' %}"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>

{% endblock %}
{% block image %}
{% endblock %}
{% block content %}


<div class='row'>
    <div  style="margin-top: 150px;margin-left: 350px;">
       <img src="{% static 'assets/images/coming_soon.jpg' %}"/>
    </div>
  <div  style="margin-top: 150px;margin-left: 350px;">
     <p>Please <a href="{% url 'fosssite:login_user' %}">Login</a> for more info !</p>
  </div>
</div>


{% endblock %}
