{% extends 'fosssite/home.html' %}
{% load staticfiles %}


{% block body %}


<div class='row'>
    <div class="col-md-12">
    <div  style="margin-left: 50px;" >
       <img src="{% static 'assets/images/coming_soon.jpg' %}" class="img-responsive" alt="Responsive image">
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
  <div style="margin-left: 100px;">
     <p>Please <a href="{% url 'fosssite:login_user' %}">Login</a> for more info !</p>
  </div>
  </div>
</div>


{% endblock %}
