{% extends 'fosssite/index.html' %}
{%load staticfiles%}

{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">
{% endblock %}   

{% block body %}

<div class = "container">
  <div class="wrapper2">

    <form action="" method="post" name="Login_Form" class="form-signin">   
      {% csrf_token %}    
        <h3 class="form-signin-heading">Forgot Password</h3>
        <hr class="colorgraph"><br>
        {% if messages %}
            {% for message in messages %}
             <p class="text-primary">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        <br/>
        <input type="email" class="form-control" name="email" placeholder="LNMIIT Email ID" required="true" autofocus="" />
        <br/> 
       <button type="submit" class="btn" style="margin-left: 120px;">Submit</button>
        
    </form> 

  </div>
</div>


{% endblock %}


