{% extends 'fosssite/base.html' %}
{%load staticfiles%}


    {% block body %}
    <div class='row'>
        <div class="col-md-12">
      <div >
          {% if messages %}
              {% for message in messages %}
               <p class="text-success">{{ message }}</p>
              {% endfor %}
          {% endif %}
      </div>
      </div>
      <div class="col-md-12">
          <img src={% static 'assets/images/mix-gallery10.jpg' %} style="height: 600px;width: 1280px;" />
      </div>
    </div>
      {% endblock %}
