{% extends 'fosssite/index.html' %}
{%load staticfiles%}

{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">
{% endblock %}   

{% block body %}

<div class = "container">
	<div class="wrapper2">

		<form action="" method="post" name="Login_Form" class="form-signin">   
			{% csrf_token %}    
		    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			  <hr class="colorgraph"><br>
			  {% if error_message %}
					   <p class="text-danger">{{ error_message }}</p>
				   {% endif %}
				   {% if message %}
					   <p class="text-success">{{ message }}</p>
				   {% endif %}
				   {% if messages %}
					   {% for message in messages %}
						<p class="text-success">{{ message }}</p>
					   {% endfor %}
				   {% endif %}
				  
			  <input type="text" class="form-control" name="username" placeholder="Username" required="true" autofocus="" />
			  <br/>
			  <input type="password" class="form-control" name="password" placeholder="Password" required="true"/>     		  
			 
			 <a href="{% url 'fosssite:forgot_password' %}">Forgot Password</a><br/><br/>	
			  <button class="btn btn-lg btn-primary btn-block"  type="Submit">Login</button> <br> 	
			  <p>Don't Have an account?<a href="{% url 'fosssite:UserFormView'%}"> <strong> Sign Up</strong></a></p>			
		</form>	

	</div>
</div>


{% endblock %}
