{% extends 'fosssite/home.html' %}
{% block profile %}
<li><a href="{% url 'fosssite:UserFormView'%}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <div class="join">
      Welcome Back!!
    </div>
        <div class="clr">
          <hr />
        </div>
            <div class="mail-text">Login with your credentials!!</div>
                <div class="forms">
                    {% if error_message %}
                        <p class="text-danger">{{ error_message }}</p>
                    {% endif %}
                    <br/>
                  <form action="" method="POST">{% csrf_token %}
                    <input name="username" type="text" placeholder="Username" size="40" onClick="border: 1px solid #30a8da;" id="username"/>
                    <input name="password" type="password" placeholder="Password" size="40" onClick="border: 1px solid #30a8da;" id="password"/><br/>
                    <button type="submit" class="btn btn-default">Log In</button>
                  </form>
                </div>
  </div>
{% endblock %}
