{% extends 'fosssite/home.html' %}
{% load staticfiles %}

{% block body %}


<div id='main-content' class='container'>

	<div class='row'>
				<div class='col-md-4'>
					<div class='row'>
					{% if userprofile.avatar %}
				<img alt="F340b72deeb79a210ec2138dea6e8561" class="img img-rounded" height="200" src="{{ userprofile.avatar.url }}" width="200" />
				{% else %}
				<img alt="F340b72deeb79a210ec2138dea6e8561" class="img img-rounded" height="200" src="https://secure.gravatar.com/avatar/f340b72deeb79a210ec2138dea6e8561" width="200" />
				{% endif %}
				</div>
				<div class='row'>
					<div class='col-md-12' style="padding-left: 0px;">
					  <ul class='nav navbar-nav'>
						  {% if userprofile.twitterurl %}
						<li><a href="{{ userprofile.twitterurl }}" target="_blank"><img alt="Twitter" height="20" src="{% static 'assets/twitter.png' %}" width="20" /></a></li>
						{%  endif %}
						 {% if userprofile.facebookurl %}
						<li><a href="{{ userprofile.facebookurl }}" target="_blank"><img alt="Facebook" height="20" src="{% static 'assets/facebook-3.svg' %}" width="20" /></a></li>
						{%  endif %}
						 {% if userprofile.lnkdnurl %}
						<li><a href="{{ userprofile.lnkdnurl }}" target="_blank"><img alt="Group" height="20" src="{% static 'assets/linkedin.png' %}" width="20" /></a></li>
						{%  endif %}
						 {% if userprofile.githuburl %}
						<li><a href="{{ userprofile.githuburl }}" target="_blank"><img alt="Group" height="20" src="{% static 'assets/github.png' %}" width="20" /></a></li>
						{%  endif %}
					  </ul>
					</div>
				</div>
	</div>
	<div class='col-md-8'>
			<div class='col-md-12'>
				<h3 class='bg-info2' style='padding: 0.5em;'>User Brief</h3>
				<table class='table table-bordered'>
						<tr>
							<th width='30%'>Name</th>
							<td>{{ user.first_name}} {{ user.last_name }}</td>
						</tr>
						<tr>
							<th>Handle</th>
							<td>{{ userprofile.handle }}</td>
						</tr>
						<tr>
							<th width='30%'>Email</th>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							<th width='30%'>About Me</th>
							<td>{{userprofile.about_me}}</td>
						</tr>
						<tr>
							<th width='30%'>Website</th>
							<td>{{userprofile.example}}</td>
						</tr>

				</table>
			</div>
			<div class='col-md-12'>
				<h3>Contributions :-</h3><br>
					{% if contributions_list %}
						<ul>
						{% for contribution in contributions_list %}
						<li><a href="{{ contribution.contribution_link }}">{{ contribution.organization }}</a></li>
						<br>
						{% endfor %}
					</ul>
					{% else %}
						<p>No Contributions</p>
					{% endif %}
					<br><br>
					<h3>Speakers/Presentations :-</h3><br>
						{% if speakers_list %}
							<ul>
							{% for speakers in speakers_list %}
							<li><a href="{{ speakers.event_link }}">{{ speakers.event_name }}</a></li>
							<br>
							{% endfor %}
						</ul>
						{% else %}
							<p>No Speakers / Presentations</p>
						{% endif %}
			</div>
		</div>
	</div>
	</div>




{% endblock %}
