{% extends 'fosssite/index.html' %}
{%load staticfiles%}

{% block css %}
<link href="{% static 'css/userprofile.css' %}" rel="stylesheet">
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">  
{% endblock %}

{% block js %}
<script src="{% static 'js/userprofile.js' %}"></script>
{% endblock %}


{% block navbar %}
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">
{% endblock %}   

{% block body %}

<div class="container">
	<br><br><br><br><br><br>
    <div class="row user-menu-container square">
        <div class="col-md-7 user-details">
            <div class="row coralbg white">
                <div class="col-md-6 no-pad">
                    <div class="user-pad">
                        <h3>{{ user.first_name}} {{ user.last_name }}</h3>
                        <h4 class="white" style="text-transform: lowercase;"><i class="fa fa-at"></i> {{ userprofile.handle }}</h4>
                        <h4 class="white" style="text-transform: lowercase;"><i class="fa fa-envelope-open"></i> {{user.email}}</h4>

                        {% if userprofile.example %}
                        <h4 class="white" style="text-transform: lowercase;"><i class="fa fa-leaf"></i> {{userprofile.example}}</h4>
                        {% endif %}

                        {% if userprofile.facebookurl %}
                        <a href="{{ userprofile.facebookurl }}"><i class="fa fa-facebook fa-2x"></i> </a>
                        {% endif %}
                        {% if userprofile.twitterurl %}
                        <a href="{{ userprofile.twitterurl }}"><i class="fa fa-twitter fa-2x"></i> </a>
                        {% endif %}
                        {% if userprofile.lnkdnurl %}
                        <a href="{{ userprofile.lnkdnurl }}"><i class="fa fa-linkedin fa-2x"></i> </a>
                        {% endif %}
                        {% if userprofile.githuburl %}
                        <a href="{{ userprofile.githuburl }}"><i class="fa fa-github fa-2x"></i> </a>
                        {% endif %}
                        <br>
                        <br>
                        <a href="{% url 'fosssite:edit_user_profile' name=request.user %}" class="btn btn-labeled btn-info" role="button"><span class="btn-label"><i class="fa fa-pencil"></i></span>Update</a>           
                    </div>
                </div>
                <div class="col-md-6 no-pad">
                    <div class="user-image">
                    {% if userprofile.avatar %}
                    <img src="{{ userprofile.avatar.url }}" class="img-responsive thumbnail" >
                    {% else %}
                        <img src="{% static 'assets/images/default-profile-image.jpg' %}" class="img-responsive thumbnail">
                        {% endif %}
                    </div>
                </div>
            </div>
             <div class="row overview">
                <div class="col-md-3 user-pad text-left">
                    <h4>About</h4>
                    <h3>Me</h3>
                </div>
                 <div class="col-md-9 user-pad1 text-left">
                    <h3>{{userprofile.about_me}}</h3>
                    
                </div>
                
            </div>
        </div>
        <div class="col-md-1 user-menu-btns">
            <div class="btn-group-vertical square" id="responsive">

                <a href="#" class="btn btn-block btn-default active">
                  <i class="fa fa-users fa-4x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-slideshare fa-4x"></i>
                </a>
                
                
            </div>
        </div>
        <div class="col-md-4 user-menu user-pad">
            <div class="user-menu-content active">
                <h3>
                    Contributions
                </h3>
                <ul class="user-menu-list">
                {% if contributions_list  %}
						{% for contribution in contributions_list %}
							{% if not contribution.organization  %}
								<p>No Contributions</p>
							{% else %}	
							<li>
								<i class="fa fa-arrow-right coral"></i>
								<a href="{{ contribution.contribution_link }}">{{ contribution.organization }}</a>
							</li>
							{% endif %}
							<br>
						{% endfor %}
				{% else %}
					<p>No Contributions</p>
				{% endif %}
                    
                </ul>
            </div>
            <div class="user-menu-content">
                <h3>
                    Speakers/Presentations
                </h3>
                <ul class="user-menu-list">
                {% if speakers_list %}
						
							{% for speakers in speakers_list %}
							{% if not speakers.event_name  %}
							<p>No Speakers / Presentations</p>
							{% else %}	
							<li>
								<i class="fa fa-arrow-right coral"></i>
								<a href="{{ speakers.event_link }}">{{ speakers.event_name }}</a>
								</li>
								{% endif %}
							<br>
							{% endfor %}
				
						{% else %}
							<p>No Speakers / Presentations</p>
						{% endif %}
                  
                </ul>
            </div>
            
          
        </div>
    </div>
</div>
{% endblock %}
