{% extends 'fosssite/base.html' %}


  {% block body %}
          <div id="wrapper">
             <div class="join">Join the FOSS Community</div>
                  <div class="clr"></div>
                                <div class="forms">
                                    <form action="" method="POST" name="register" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <p class="text-danger">{{ form.first_name.errors.as_text  }}</p>
                                      <input name="fname" type="text" placeholder="First Name" size="40" onClick="border: 1px solid #30a8da;" id="fname"/>
                                      <p class="text-danger">{{ form.last_name.errors.as_text  }}</p>
                                      <input name="lname" type="text" placeholder="Last Name" size="40" onClick="border: 1px solid #30a8da;" id="lname"/>
                                      <p class="text-danger">{{ form.username.errors.as_text  }}</p>
                                      <input name="username" type="text" placeholder="Username" size="40" onClick="border: 1px solid #30a8da;" id="username"/>
                                      <p class="text-danger">{{ form.email.errors.as_text  }}</p>
                                      {% if msg %}
                                      <p class="text-danger">{{ msg  }}</p>
                                      {% endif %}
                                      <input name="email" type="text" placeholder="Email ID" size="40" onClick="border: 1px solid #30a8da;" id="mail"/>
                                      <p class="text-danger">{{ form.password.errors.as_text  }}</p>
                                      <input name="password" type="password" placeholder="Password" size="40" onClick="border: 1px solid #30a8da;" id="password"/>
                                     <br>
                                      <input name="is_public" type="checkbox"  size="40" onClick="border: 1px solid #30a8da;"/> Make Profile Public<br>
                                      <button type="submit" class="btn">Create My Account</button>



                                    </form>
                                </div>
          </div>
{% endblock %}
