{% extends 'fosssite/home.html' %}
  {% block content %}
                <div id="wrapper">
                  <div class="join">HOLA!!</div>

          <div class="clr"></div>
                        <div class="mail-text">SignUp</div>
                                <div class="forms">
                                    <form action="" method="get" name="register">
                                    <input name="firstname" type="text" placeholder="First Name" size="40" onClick="border: 1px solid #30a8da;" id="username"/>
                                    <input name="lastname" type="text" placeholder="Last Name" size="40" onClick="border: 1px solid #30a8da;" id="username"/>
                                    <input name="username" type="text" placeholder="Username" size="40" onClick="border: 1px solid #30a8da;" id="username"/>
                                    <input name="email" type="text" placeholder="Email ID" size="40" onClick="border: 1px solid #30a8da;" id="mail"/>
                                    <input name="password" type="password" placeholder="Password" size="40" onClick="border: 1px solid #30a8da;" id="password"/>
                                </form>
                          </div>
            <a class="create-acc" href="#">Create My Account</a>
          </div>
{% endblock %}
