{% extends 'fosssite/home.html' %}
{% load staticfiles %}

{% block profile %}
<li><a href="{% url 'fosssite:profileuser' name=request.user%}"><span class="glyphicon glyphicon-user"></span> Welcome {{ request.user }}</a></li>
<li><a href="{% url 'fosssite:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}

{% block content %}


<div class='row'>
  <div  style="margin-top: 150px;margin-left: 350px;">
     <img src="{% static 'assets/images/coming_soon.jpg' %}"/>
  </div>
</div>


{% endblock %}
